@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');
/* this link is for alphabet font weight  */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* This link is for footer social media icons */

body {
    margin: 0;
    background-image: url('images/Background\ Pattern.png');
    background-repeat: repeat;
}

header {
    text-align: center;
}

.img-logo {
    max-height: 100px;
    width: 60%;
}

.nav-bar {
    display: flex;
    width: 100%;
    background-color: #1375E4;
    justify-content: space-evenly;
}

.nav-divs:hover {
    background-color: #004CA1;
}


.nav-divs > img{
    border-radius: 50%;
    margin: 10px 0 0 0;
    max-width: 60px;
}

.nav-divs p{
    font-family: 'Mochiy Pop One';
    color: #ffff;
    margin-top: 0;
    font-size: 0.9em;
    text-align: center;
}

.carousel-div {
    align-items: center;
}

.carousel-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    min-height: 249px;
}

.dot-container {
    text-align: center;
    margin-top: -30px;
}

#dot3 {
    background-color: black;
}

.dot {
    display: inline-block;
    height: 7.7px;
    width: 8px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #bbb2b2;
}

.main-container {
    margin: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(150px, 350px));
    /* for 3 make columns in container  */
    grid-template-rows: repeat(2, 1fr);
    /*  for make rows  */
    gap: 15px;
    padding: 20px;
    width: 80%;
}

.card {
    position: relative;
    transition: transform 1s;
    /* flip card in during 1 second  */
    transform-style: preserve-3d;
    /* for showing back-face */
    border-radius: 24px;
    box-shadow: 0px 5px 6px 0px;
    cursor: pointer;
}

.front-div {
    position: absolute;
    border-radius: 24px;
    border: 0px 0px 6.18px 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    border: 0px 0px 6.18px 0px;
}


.text {
    font-size: 6em;
    margin-top: 4px;
    font-family: 'Mochiy Pop One';
}


.card.flipped {
    transform: rotateY(180deg);
}


.back-div {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 24px;
    border: 0px 0px 6.18px 0px;
    /* position: relative; */
    background-color: #ffff;
}

.back-img-text {
    position: absolute;
    transform: translateX(-50%);
    margin-top: 70%;
    left: 50%;
    font-size: 1em;
    font-family: 'Mochiy Pop One';
    letter-spacing: 0.03em;
    background-color: #ffff;
}



@media only screen and (min-width: 770px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }

    .text {
        font-size: 11em;
    }

    .backImgicon-div {
        margin-bottom: 0;

    }

    .fa {
        padding: 10px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: blue;
        border-radius: 10px;
        margin: 0px 7px 0px 0px;
    }


}

/* @media only screen and (min-width: 1440px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }

    .text {
        font-size: 17em;
    }

}

@media only screen and (min-width: 2000px) {
    .main-container {
        grid-template-columns: repeat(3, minmax(220px, 1fr));
    }

    .text {
        font-size: 25em;
    }

} */


/* .backImgicon-div { */
/* margin-top: -25px; */
/* display: flex;
justify-content: space-evenly; */
/* align-items: center; */
/* position: relative; */
/* } */


.like_img {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 85%;
    left: 20%;
}

.expend_img {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 85%;
    left: 50%;
}

.share_img {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 85%;
    left: 75%;
}

.heart-img {
    height: 10%;
    width: 10%;
}

.carouselBottom-text {
    font-family: 'Mochiy Pop One';
    font-size: 0.8em;
    color: #1375E4;
    width: 100%;
}

.gallery-btn {
    font-family: 'Mochiy Pop One';
    font-size: 13px;
    background-color: #367DCA;
    color: #ffff;
    border-radius: 12px;
    padding: 16px 8px 16px 8px;
    /* margin-right: -10%; */
}


.pattern1 {
    background: url(images/PatternsFile/pattern1.svg);
    background-color: #FFB800;
    /* background-size: 200%; */
    background-size: cover;
    background-repeat: no-repeat;
    color: #FF8A00;
}

.pattern2 {
    background: url(images/PatternsFile/pattern2.svg);
    background-color: #ae73ec;
    background-size: cover;
    background-repeat: no-repeat;
    color: #8030D4;
}

.pattern3 {
    /* x y width height  */
    background: url(images/PatternsFile/pattern3.svg);
    background-color: #59AFFF;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1375E4;
}

.pattern4 {
    background: url(images/PatternsFile/pattern4.svg);
    background-color: rgb(240, 140, 171);
    background-size: cover;
    background-repeat: no-repeat;
    color: #DA2D65;
}

.pattern5 {
    background: url(images/PatternsFile/pattern5.svg);
    background-color: #f8683c;
    background-size: cover;
    background-repeat: no-repeat;
    color: #D83400;

}

.pattern6 {
    background: url(images/PatternsFile/pattern6.svg);
    background-color: #1BB486;
    background-size: cover;
    background-repeat: no-repeat;
    color: #007352;
}


.imgClass {
    height: 75%;
    width: 100%;
    border-radius: 24px;
}

.footer-container {
    background-color: #1375E4;
    height: auto;
}

.follow-us {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.003em;
    color: #ffff;
    font-size: 20px;
    /* top  right  bottom  left */
    margin-left: 40px;
    padding: 40px 0 0 0;
}

.fa {
    padding: 5px;
    font-size: 20px;
    width: 23px;
    min-height: 23px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: blue;
    border-radius: 5px;
    margin: 0px 7px 0px 0px;
}

.footer-icons-div {
    margin-left: 43px;
    margin-bottom: 25px;
    padding: 0;
}

.footer-text-ul {
    margin-top: 0px;
}

.fa:hover {
    opacity: 0.6;
}

.footer-text-ul li{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #ffff;
    list-style: none;
    padding: 5px;
}
    
.footer-sajheLogo-div img{
    border-radius: 50%;
    /* top  right  bottom  left */
    margin: 10px 0px 15px 37px;

}

.sajhe-web-divs {
    padding: 0 0 40px 0;
    margin-left: 45px;
}

.sajhe-web-divs a{
    text-decoration: none;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}


.sajhe-web:hover {
    opacity: 0.9;
    color: blue;
}