@import url('https://fonts.googleapis.com/css?family=Mochiy Pop One');
/* this link is for alphabet font weight  */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
 /* This link is for footer social media icons */

body {
    margin: 0;
}

.img-logo {
    min-width: 320px;
}

.logoImg-div{
    text-align: center;
}
.nav-bar {
    display: inline-flex;
    width: 100%;
    min-width: 320px;
    background-color: #1375E4;
    justify-content: space-around;
}


.nav-text {
    font-family: 'Mochiy Pop One';
    color: #ffff;
    margin-top: 0;
    font-size: 0.9em;
    text-align: center;
}

.nav-divs:hover {
    background-color: #004CA1;
}
    /* top  right  bottom  left */                                              
.nav-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px 0 0 0;
}


.container {
    /* background-color: rgb(240, 187, 196); */
    display: grid;
    grid-template-columns: repeat(3, 165px);
    /* for 3 make columns in container  */
    grid-template-rows: repeat(9, 220px);
    /*  for make rows  */
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

.card {
    position: relative;
    transition: transform 1s;
    /* flip card in during 1 second  */
    transform-style: preserve-3d;
    /* for showing back-face */
    border-radius: 24px;
    box-shadow: 0px 5px 6px 0px;
    cursor: pointer;
}

.text {
    font-size: 8em;
    margin-top: 4px;
    font-family: 'Mochiy Pop One';
}

.front-div {
    position: absolute;
    border-radius: 24px;
    border: 0px 0px 6.18px 0px;
    width: 165px;
    height: 220px;
    background-color: #ffffff;
    text-align: center;
    border: 0px 0px 6.18px 0px;
}

.back-div {
    background-color: #ffff;
    width: 165px;
    height: 220px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 24px;
    border: 0px 0px 6.18px 0px;
    /* position: relative; */
}
/* this media query for mobile and tablet view */
@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 165px);
    }

    .img-logo {
        width: 300px;
    }
}

.card.flipped {
    transform: rotateY(180deg);
}

.back-img-text{
    position: absolute;
    left: 6%;
    bottom: -5%;
    font-size: 1.3em;
    /* color: #ffff; */
    width: 80%;
    text-align: center;
    font-family: 'Mochiy Pop One';
    letter-spacing: 0.03em;
}

/* this is used for diffrent background designin front card   */
.print1 {
    background: linear-gradient(45deg, rgb(247, 183, 66) 25%, transparent 25%), linear-gradient(315deg, rgb(247, 183, 66) 25%, transparent 25%), linear-gradient(45deg, transparent 24%, #f3dc47 25%, #f3dc47 45%, transparent 45%), linear-gradient(315deg, transparent 24%, #f3dc47 25%, #f3dc47 45%, transparent 45%);
    background-size: 4em 4em;
    /* background-color: #f1a24d; */
    background-color: rgb(247, 183, 66);
    color: #FF8A00;
}

.print2 {
    background: repeating-linear-gradient(135deg, #8a67a7 0, #8a67a7 23%, transparent 0, transparent 50%);
    background-size: 4em 4em;
    background-color: #ae73ec;
    color: #520575;
}

.print3 {
    background: linear-gradient(135deg, #76bafa 20%, transparent 20%, transparent 80%, #76bafa 80%), linear-gradient(45deg, #76bafa 40%, #bcd7f1 40%, #bcd7f1 60%, #bcd7f1 60%, #76bafa 60%), linear-gradient(135deg, #76bafa 20%, #bcd7f1 20%, #bcd7f1 80%, #76bafa 80%);;
    background-size: 4em 4em;
    color: #016de9;
}

.print4 {
    background: radial-gradient(circle at center, #e59de0, #e59de0 10%, transparent 10%, transparent 20%, #e59de0 20%, #e59de0 30%, transparent 30%, transparent 40%, #e59de0 40%, #e59de0 50%, transparent 50%, transparent 60%, #e59de0 60%, #e59de0 70%, transparent 70%, transparent 80%, #e59de0 80%, #e59de0 90%, transparent 90%);
    background-size: 19em 19em;
    background-color: rgb(240, 140, 171);
    color: #DA2D65;
}

.print5 {
    background: linear-gradient(135deg, #f37f51 25%, transparent 25%), linear-gradient(45deg, #f37f51 25%, transparent 25%), linear-gradient(135deg, transparent 24%, #faa07d 25%, #faa07d 45%, transparent 45%), linear-gradient(45deg, transparent 24%, #faa07d 25%, #faa07d 45%, transparent 45%);;
    background-size: 3em 3em;
    background-color: #f37f51;
    color: #D83400;
}

.print6 {
    background: linear-gradient(45deg, #4fd7b7 25%, transparent 25%), linear-gradient(315deg, #4fd7b7 25%, transparent 25%), linear-gradient(45deg, transparent 24%, #64f7f3 25%, #64f7f3 45%, transparent 45%), linear-gradient(315deg, transparent 24%, #64f7f3 25%, #64f7f3 45%, transparent 45%);
    background-size: 4em 4em;
    background-color: #4fd7b7;
    color: #007352;
}

.imgClass {
    height: 85%;
    width: 100%;
    border-radius: 24px;
}

.footer-container {
    background-color: #1375E4;
    height: auto;
}

.follow-us {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.003em;
    color: #ffff;
    margin-left: 40px;
    font-size: 20px;
    /* top  right  bottom  left */
    margin-left: 40px;
    margin-top: 0px;
}

.fa {
    padding: 7px;
    font-size: 28px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: blue;
    border-radius: 10px;
    margin: 0px 7px 0px 0px;
}

.footer-icons-div {
    margin-left: 40px;
    margin-bottom: 25px;
}

.footer-text-ul {
    margin-top: 0px;
}

.fa:hover {
    opacity: 0.6;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #ffff;
    list-style: none;
    padding: 5px;
}

.sajhe-logo {
    border-radius: 50%;
    /* top  right  bottom  left */
    margin: 10px 0px 15px 37px;
}

.sajhe-web {
    text-decoration: none;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}

.sajhe-web-divs {
    margin-left: 37px;
}

.sajhe-web:hover {
    opacity: 0.9;
    color: blue;
}
