body {
    margin: 0;
}

.container {
    background-color: rgb(240, 153, 38);
    display: grid;
    grid-template-columns: repeat(3, 180px);
    /* for 3 make columns in container  */
    grid-template-rows: repeat(9, 180px);
    /*  for make rows  */
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.card {
    position: relative;
    transition: transform 1s;
    /* flip card in during 1 second  */
    transform-style: preserve-3d;
    /* for showing back-face */
}

.front-div {
    position: absolute;
    /* backface-visibility: hidden; */
    border: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px;
    width: 180px;
    height: 180px;
    background: radial-gradient(#4f46e4 15%, transparent 16%, transparent 49%, #4f46e4 50%, transparent 51%), radial-gradient(circle at top left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at top right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%);
    background-color: #ffffff;
    font-size: 160px;
    font-weight: bold;
}

.back-div {
    background-color: #ffc0cb;
    border: #000000;
    width: 180px;
    height: 180px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px;
}


/* Used for responsive layout */
@media (max-width: 650px) {
    .container {
        grid-template-columns: repeat(2, 180px);
    }
}

@media (max-width: 425px) {
    .container {
        grid-template-columns: repeat(1, 180px);
    }
}

.card.flipped {
    transform: rotateY(180deg);
}

/* this is used for diffrent background designin front card   */
.print1 {
    background: radial-gradient(#4f46e4 15%, transparent 16%, transparent 49%, #4f46e4 50%, transparent 51%), radial-gradient(circle at top left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at top right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom left, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%), radial-gradient(circle at bottom right, #4f46e4 10%, transparent 10%, transparent 39%, #4f46e4 40%, transparent 41%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.print2 {
    background: linear-gradient(45deg, #4f46e4 10%, transparent 11%, transparent 89%, #4f46e4 90%), linear-gradient(135deg, #4f46e4 10%, transparent 11%, transparent 89%, #4f46e4 90%), radial-gradient(circle, transparent 25%, #ffffff 26%), linear-gradient(45deg, transparent 46%, #4f46e4 47%, #4f46e4 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #4f46e4 47%, #4f46e4 52%, transparent 53%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.print3 {
    background: repeating-linear-gradient(90deg, #4f46e4 0, #4f46e4 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #4f46e4 0, #4f46e4 5%, transparent 0, transparent 50%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.print4 {
    background: linear-gradient(45deg, transparent 49%, #4f46e4 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #4f46e4 49% 51%, transparent 51%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.print5 {
    background: linear-gradient(45deg, #4f46e480 25%, transparent 21%), linear-gradient(315deg, #4f46e480 25%, transparent 21%), linear-gradient(45deg, #4f46e4 10%, transparent 11%), linear-gradient(315deg, #4f46e4 10%, transparent 11%), linear-gradient(135deg, #4f46e480 25%, transparent 21%), linear-gradient(225deg, #4f46e480 25%, transparent 21%), linear-gradient(135deg, #4f46e4 10%, transparent 11%), linear-gradient(225deg, #4f46e4 10%, transparent 11%), radial-gradient(#4f46e4 20%, transparent 21%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.print6 {
    background: linear-gradient(45deg, #4f46e4 10%, transparent 11%, transparent 89%, #4f46e4 90%), linear-gradient(135deg, #4f46e4 10%, transparent 11%, transparent 89%, #4f46e4 90%), radial-gradient(circle, transparent 25%, #ffffff 26%), linear-gradient(0deg, transparent 44%, #4f46e4 45%, #4f46e4 55%, transparent 56%), linear-gradient(90deg, transparent 44%, #4f46e4 45%, #4f46e4 55%, transparent 56%);
    background-size: 1em 1em;
    background-color: #ffffff;
}

.imgClass {
    height: 100%;
    width: 100%;
}